body {
    margin: 0;
}

/* Colors */

.pink-bg {
    background-color: #f6d0cb;
}

/* Text Spacing */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Spectral', serif;
    font-weight: 500;
    color: #122947;
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p,
a {
    font-family: 'Poppins', sans-serif;
    color: rgba(18, 41, 71, 0.8);
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.supertitle {
    color: #ef525b;
    margin: 8px 0 1rem 0;
    font-size: 12px;
}

.title {
    margin: 0 0 1rem 0;
}

.subtitle {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}

.button-spc {
    margin: 1rem 0 0 0;
}

/* Images & Logos */

.site-logo {
    height: 80px;
    width: 100%;
}

#landing-img {
    background-image: url('img/landing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    max-width: 100%;
    height: 910px;
}

/* Section Spacing */

/* 
    Section types:
    1. Nav
    2. 50% 50%, left aligned text 150px (10%)
    3. Centered Text
    4. Even spaced cards with centered subtitles
    5. Even spaced cards with 40px indented subtitles
    6. 60/40 img/text split, left or right aligned 150px (10%)
    7. 32/36/32% split no margins
    8. 310px height footer - 140px top padding
*/

.section {
    overflow: hidden;
    margin-bottom: 140px;
}

.left-body {
    display: inline-block;
    margin-top: 340px;
    margin-left: 10%;
    max-width: 30%;
}

.right-body {
    margin-right: 10%;
}

.showcase {
    margin-top: 105px;
    margin-bottom: 145px;
    padding-top: 145px;
    padding-bottom: 145px;
}

.showcase-title {
    margin-top: 35px;
}

/* #container {
    padding-top: 140px;
} */

.right-align {
    width: 40%;
}

/* Navbar */

nav {
    position: fixed;
    height: 120px;
    width: 100%;
    transition: 0.3s;
}

nav:hover {
    background-color: white;
    transition: 0.3s;
}

nav a {
    margin: 12px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

#left-links {
    vertical-align: top;
    position: absolute;
    z-index: 1;
    margin: 49px 0;
    left: 10px;
}

#right-links {
    vertical-align: top;
    position: absolute;
    z-index: 1;
    margin: 49px 0;
    right: 10px;
}

#nav-logo {
    position: absolute;
    z-index: 0;
    padding-top: 22px;
}
